<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getheroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitaizedName }}</dd>
</dl>

<button
  *ngIf="name !== 'Spiderman'"
  (click)="changeHero()"
  class="btn btn-primary"
  type="button"
>
  Cambiar nombre
</button>

<button
  *ngIf="age !== 25"
  (click)="changeAge()"
  class="btn btn-primary mx-2"
  type="button"
>
  Cambiar edad
</button>

<button (click)="restartHero()" class="btn btn-primary" type="button">
  Restaurar datos
</button>
